{%- block editor_widget -%}
    {% set content = value|editor(false)|filter_allowed_components(allowed_components) %}
    {% set attr = attr|merge(attr, {value: content|editor_serialized}) %}
    <div {{ stimulus_controller('editor') }} class="border border-dashed p-8 flex items-center justify-center">
        <input type="hidden" {{ block('widget_attributes') }} {{ stimulus_target('editor', 'input') }}>

        <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" {{ stimulus_action('editor', 'open') }}>Ouvrir l'éditeur</button>
        <div class="ux-editor">
            <dialog {{ stimulus_target('editor', 'modal') }} class="w-full h-full max-w-full max-h-full z-10 ux-editor--modal">
                <twig:UX:Editor :value="content" data-editor-target="editor" :allowedComponents="allowed_components" :inputId="id"/>
            </dialog>
        </div>
    </div>
{#    <twig:UX:Editor:Render :content="value|editor"/>#}
{%- endblock editor_widget -%}
