{% use "form_div_layout.html.twig" %}

{%- block editor_widget -%}
    {% set content = value|editor(false)|filter_allowed_components(allowed_components) %}
    {% set attr = attr|merge(attr, {value: content|editor_serialized}) %}
    <div {{ stimulus_controller('editor') }} class="border border-dashed p-8 flex items-center justify-center">
        <input type="hidden" {{ block('widget_attributes') }} {{ stimulus_target('editor', 'input') }}>

        <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" {{ stimulus_action('editor', 'open') }}>Ouvrir l'éditeur</button>
        <div class="ux-editor">
            <dialog {{ stimulus_target('editor', 'modal') }} class="w-full h-full max-w-full max-h-full z-10 ux-editor--modal">
                <twig:UX:Editor :value="content" data-editor-target="editor" :allowedComponents="allowed_components" :inputId="id"/>
            </dialog>
        </div>
    </div>
{#    <twig:UX:Editor:Render :content="value|editor"/>#}
{%- endblock editor_widget -%}

{%- block editor_data_widget -%}
    {% set category = metadata.editorField.category.name %}
    {% set attr = attr|merge({'data-editor-edit-target': 'input', 'editor-edit-filter': category }) %}
    {{ form_widget(form, {attr}) }}
{%- endblock editor_data_widget -%}

{% block form_label -%}
    {% if label is not same as(false) and not ('radio' in form.vars.block_prefixes) -%}
        {%- set label_attr = label_attr|merge({class: ''}) -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class ~ ' absolute block text-xs px-2 py-0 left-3 top-0 -translate-y-1/2 bg-gray-800 text-span z-10')|trim}) -%}
        {%- if compound is defined and compound -%}
            {%- set element = 'legend' -%}
        {%- else -%}
            {%- set label_attr = label_attr|merge({for: id}) -%}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class ~ ' required')|trim}) %}
        {%- endif -%}
        <{{ element|default('div') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {{- block('form_label_content') -}}
        </{{ element|default('div') }}>
    {%- endif -%}
{%- endblock form_label %}

{%- block form_label_content -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    {%- if translation_domain is same as(false) -%}
        {{- label|raw -}}
    {%- else -%}
        {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
    {%- endif -%}
{%- endblock form_label_content -%}

{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <{{ element|default('label') }}{% with {attr: row_attr|merge({class: (row_attr.class|default('col-span-12') ~ ' relative block h-fit '~(errors|length > 0 ? ' border-rose-500' : '')~(disabled ? ' ' : ' print:hidden'))|trim
})} %}{{ block('attributes') }}{% endwith %}>
    {{- form_label(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
    {{- form_errors(form) -}}
    </{{ element|default('label') }}>
{%- endblock form_row %}

{%- block form_widget_compound -%}
    {%- if form is rootform -%}
        {% set class = 'grid grid-cols-12 gap-x-4 gap-y-11' %}
        {% if attr.class is defined %}
            {% set class = attr.class ~ ' ' ~ class %}
        {% endif %}
        {% set attr = attr|merge({ class: class }) %}
    {%- endif -%}
    <div {{ block('widget_container_attributes') }}>
        {%- if form is rootform -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound -%}

{% block choice_widget -%}
    {%- if (type is not defined or type != 'hidden') and not ('radio_group' in form.vars.block_prefixes) -%}
        {%- set attr = attr|merge({class: (attr.class|default('p-4 bg-transparent rounded border border-2 w-full focus:border-2 dark:border-white dark:text-white')~ ' '~(errors|length > 0 ? ' border-red' : ' border-gray')~(disabled ? ' ' : ''))|trim}) -%}
    {%- endif -%}
    {%- if 'radio_group' in form.vars.block_prefixes -%}
        {%- set attr = attr|merge({class: (attr.class|default('p-4 bg-transparent w-full flex gap-5')~ ' '~(disabled ? ' ' : 'disabled'))|trim}) -%}
    {%- endif -%}
    {%- if type is defined and (type == 'range' or type == 'color') %}
        {%- set required = false -%}
    {% endif %}
    {{- parent() -}}
{%- endblock choice_widget %}

{% block form_widget_simple -%}
    {%- if type is not defined or type != 'hidden' -%}
        {%- set attr = attr|merge({class: (attr.class|default('p-4 bg-transparent rounded border border-2 w-full focus:border-2 dark:border-white dark:text-white')~ ' '~(errors|length > 0 ? ' border-red' : ' border-gray')~(disabled ? ' ' : ''))|trim}) -%}

        {% if attr.ico is defined and attr.ico %}
            <twig:ux:icon :name="attr.ico" class="absolute left-4 top-1/2 -translate-y-1/2 w-5 h-5"/>

            {% set attr = attr|merge({class: attr.class ~ ' pl-10'}) %}
        {% endif %}

    {%- endif -%}
    {%- if type is defined and (type == 'range' or type == 'color') %}
        {%- set required = false -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{% block password_widget %}
    {% set attr = attr|merge({class: (attr.class|default('p-4 bg-transparent rounded border border-2 w-full focus:border-2 dark:border-white dark:text-white')~ ' '~(errors|length > 0 ? ' border-red' : ' border-gray')~(disabled ? ' ' : ''))|trim}) -%}
    <div data-controller="password-visibility" class="relative">
        {{ form_label(form) }}
        <input type="password" {{ block('widget_attributes') }} data-password-visibility-target="input"
               spellcheck="false" value="{{ value }}"/>
        <button type="button" data-action="password-visibility#toggle"
                class="absolute top-1/2 right-2 transform -translate-y-1/2 w-9">
            <span data-password-visibility-target="icon"><twig:ux:icon name="ph:eye"/></span>
            <span data-password-visibility-target="icon" class="hidden"><twig:ux:icon name="ph:eye-slash"/></span>
        </button>
    </div>
{%- endblock password_widget %}

{% block radio_widget %}
    <div class="flex gap-2">
        <div class="grid place-items-center">
            <input {{ form.vars.data ? 'checked' : ''}} type="radio" {{ block('widget_attributes') }} value="{{ value }}" class="col-start-1 row-start-1 appearance-none shrink-0 w-5 h-5 border-2 border-blue rounded-full"/>
            <div class="col-start-1 row-start-1 w-2.5 h-2.5 rounded-full"></div>
        </div>
        <label for="{{ id }}" class="text-start">{{ label|trans(label_translation_parameters, translation_domain) }}</label>
    </div>
{%- endblock radio_widget %}

{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <span class="{% if form is not rootform %}invalid-feedback{% else %}alert alert-danger{% endif %} block">
            {%- for error in errors -%}
                <span class="block">
                    <span class="text-red">{{ error.message }}</span>
                </span>
            {%- endfor -%}
        </span>
    {%- endif %}
{%- endblock form_errors %}

{%- block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('p-4 bg-transparent rounded border border-2 w-full focus:border-2 dark:border-white dark:text-white')~ ' '~(errors|length > 0 ? ' border-red' : ' border-gray')~(disabled ? ' ' : ''))|trim}) -%}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{%- block editor_data_value_row -%}
    {%- set widget_attr = {attr: {'data-model' : full_name}} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock editor_data_value_row -%}

{%- block editor_data_value_widget -%}
    {% if "ux_editor_file" in block_prefixes %}
        {% if data %}
            <div class="relative w-fit">
                <button type="button" class="bg-red-500 text-white rounded-full p-2 absolute right-0 top-0 -translate-y-1/2 translate-x-1/2" title="Supprimer"  {{ stimulus_action('editor-edit', 'clearInput', 'click', {name: id}) }}><twig:ux:icon name="tabler:trash" class="w-3 h-3" /></button>
                <img src="/uploads/{{ data.filename }}" class="cover max-w-52 w-full h-52 overflow-hidden rounded-xl"/>
            </div>
            <input type="hidden" {{ block('widget_attributes') }} value="{{ data.pathname }}" data-model="{{ full_name }}"/>
        {% else %}
            <input type="file" {{ block('widget_attributes') }} />
        {% endif %}
    {% else %}
        {{ block('form_row') }}
    {% endif %}
{%- endblock editor_data_value_widget -%}
